{% extends "core/base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Текста нет =) Расходимся.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Всем ку! Зовут Максим, 19 годиков, родом из Перми =)</p>
          <p>Пришёл в программирование потому что хотел заниматься этим с 12
            лет, ну а ботоводство
            подтолкнуло. В январе начал изучать почти с нуля(До этого опыт
            только с Js лет в 14).
            Написал первый бот на селениуме в феврале, простой, с очень
            косвенным ООП, и решил заняться уже
            серьезно.</p>
          <p>Из животных есть кошка, a из развлечений программирование
            и спорт=)</p>
          <div style="text-align: center;">
            <a href="https://vk.com/koteikin1488" style="color:purple"
               target="new">
              Страница в ВК </a>
            <a href="https://github.com/kekoslav42/" style="color:purple"
               target="new">
              Страница на GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}